* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
body {
    background-color: white;
    /* width: 100%; */
}
.navbar {
    display: block;
    /* position: sticky; */
    background-color: rgb(0, 195, 255);
    width: 100%;
    /* float: left; */
    height: 50px;
    top: 0;
    min-width: 0;
    /* position: fixed; */
    width: 100%;
    /* height: auto; */
    /* margin-bottom: 15px; */
}
.navbarlogo {
    background-image: url(/Images/cchprintinglogo.jpg);
    width: 40%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red
}
.navmenus ul li a {
    /* display: inline; */
    float: right;
    color: white;
    font-size: 20px;
    padding: 20px; 
    text-decoration: none;
    /* max-width: 400px; */
}
/* Buttons */
.mainBtn {
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.aboutBtn, .servicesBtn, .ourWorkBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* align-items: center; */
  }
  /* ul li,  ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  } */
.main {
    position: relative;
    height: 500px;
    /* width: 100%; */
    border: solid 3px red;
    margin-top: 15px;
}
.about, .services, .ourWork {
    position: relative;
    height: 250px;
    /* width: 100%; */
    border: solid 3px red;
    margin-top: 15px;
}
footer {
    height: 250px;
    /* width: 100%; */
    background-color: cyan;
    margin-top: 15px;  
}
}
@media screen and (max-width: 420px) {
    .navbar {
        background-color: red;
    }
    .navbarlogo {
        background-image: url(/Images/St.\ Xavier\ University\ Pen\ [182646].jpg);
        width: 350px;
        height: 490px;
        border: 1px solid rgb(47, 0, 255);
        transition: all 2s;
    }
    body {
        background-color: aqua;
    }
}