/* All master stuff is up here */
button {
    background-color: #0066ff;;
    padding: 1%;
    font-size: 15px;
    transition-duration: .4s;
}
button:hover {
    background-color: #053efa;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
body {
    background-color: white;
    /* width: 100%; */
}

/* The Header / Navigation bar stuff is below */
.navbar {
    /* display: block; */
    /* position: sticky; */
    background-color: #0066ff;
    width: 100%;
    /* float: left; */
    /* height: 50px; */
    top: 0;
    min-width: 0;
    /* position: fixed; */
    width: 100%;
    /* height: auto; */
    /* margin-bottom: 15px; */
}
.navbarlogo a img {
    /* background-image: url(/Images/cchprintinglogo.jpg); */
    width: 40%;
    height: 50px; /* need help with this */
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red
}
.navmenus a {
    /* display: inline; */
    /* float: right; */
    color: white;
    font-size: 20px;
    padding: 15px;  /* having trouble with this too */
    margin: 0px; /* not sure if this does anything */
    text-decoration: none;
    /* max-width: 400px; */
    transition-duration: .4s;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    /* background-color: green; */
    /* align-items: center; */
    padding: 15px;
    }
    li:hover {
        background-color: blue;
    }
    li:active {
        text-decoration-line: underline
    }
    /* Not sure if I need this part */
    /* ul li,  ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    } */

/* Buttons */
.mainBtn {
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.aboutBtn, .servicesBtn, .ourWorkBtn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.main {
    color: white;
    background-image:  url(/Images/img_lights.jpg);
    background-size: cover;
    position: relative;
    height: 700px;
    /* width: 100%; */
    border: solid 3px green;
    margin-top: 15px;
}
.about, .services, .ourWork, about h2 {
    color: #262626;
    position: relative;
    text-align: center;
    height: 350px;
    /* width: 100%; */
    /* border: solid 3px green; */
    /* padding-top: 15px; */
    padding: 15px 100px 15px 100px;
}
.services {
    color: white;
    position: relative;
 background-color: #262626;
}
footer {
    display: flex;
    height: 250px;
    /* width: 100%; */
    background-color: #262626;
    color: white;
    padding: 25px;  
}
.footerCol {
    flex:1;
    background-color: #323232;
    margin: 15px;
}

@media  (max-width: 600px) {
    .navbar {
        
    }
    .navbarlogo {
        /* background-image: url(/Images/SXUPen.jpg); */
        /* width: 350px; */
        /* height: 490px; */
        /* border: 1px solid rgb(47, 0, 255); */
        transition: all 2s;
    }
    footer, .footerCol {
        display: block;
        justify-content: space-between;
        width: 100%;     
    }
}